<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000; /* Цвет фона */
            font-family: Arial, sans-serif; /* Шрифт */
        }
        .number {
            font-size: 10em; /* Размер шрифта */
            color:  #00FF00; /* Цвет текста */
        }
    </style>
</head>
<body>
    <div class="number">
        56.863636<br>
        60.624081
    </div>
</body>
</html>

